.clockdate-wrapper {
  background-color: #333;
  max-width: 500px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 20px auto;

}

#clock{
  background-color: #333;
  font-family: sans-serif;
  font-size: 30px;
  text-shadow: 0 0 1px #fff;
  color: #fff;
}

#clock span {
  color: #888;
  text-shadow: 0 0 1px #333;
  font-size: 30px;
  position: relative;
  top: -27px;
  left: -10px;
}

#date {
  letter-spacing: 10px;
  font-size: 14px;
  font-family: sans-serif;
  color: #fff;
}

